{% extends 'base.html.twig' %}

{% block body %}
    <h1>Witaj {{ user.email }}!</h1>

   <table class="table table-inverse">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Uyear</th>
                <td>{{ user.uYear }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        </tbody>
    </table>

   {# <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
