{% extends 'base.html.twig' %}

{% block body %}
    <div><h1>Konkurencje</h1><form style="border-bottom: 0.4px solid red; padding-bottom:20px;" id="findUser" enctype="multipart/form-data" action="{{path('konkurencja_findResult')}}" method="post">

            <input style="width:50%; text-align:center" type="text" id="find" name="find" placeholder="Wyszukaj konkurencję"/>

            <button  type="submit"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form> </div><div style="float:right"> <a href="{{ path('konkurencja_new') }}">Dodaj nową konkurencję</a></div>
    <div>
     <table class="table">
        <thead>
            <tr>
                <th>Nazwa pełna</th>
                <th>Nazwa skrócona</th>
               
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for konk in konkurencje %}
            <tr>
                <td><a href="{{ path('konkurencja_show', { 'id': konk.id }) }}">{{ konk.nazwaP }}</a></td>
                <td>{{ konk.nazwaS }}</td>
             
                <td>
                  
                    <a href="{{ path('konkurencja_edit', { 'id': konk.id }) }}">Edytuj</a><br>
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
       
     <style>
         
         h1{
    font-size: 2.5rem;
    padding-bottom: 30px;
         }
         a{
             color: #622925e6;
             
         }
         a:hover{
                 text-decoration:none;
         }
                thead{
                    background:silver;
                }
                tbody{
                    
                    background:#f0eded;
                }
                td{
                border-bottom: 0.7px solid white;
                }
           </style>
{% endblock %}
