{% extends 'base.html.twig' %}
{% block head %}
     <script src="{{ asset('bundles/DataTables/js/jquery.dataTables.js') }}" type="text/javascript" /></script>
  <script src="{{ asset('bundles/DataTables/Plugins/i18n/Polish.lang') }}" type="text/javascript" /></script>
 <link rel="stylesheet" href="{{ asset('bundles/DataTables/css/jquery.dataTables.css') }}" >
    {% endblock %}
{% block body %}  
    <div><h1>Konkurencje</h1></div><div style="float:right"> <a href="{{ path('konkurencja_new') }}">Dodaj nową konkurencję</a></div>
    <div>
       <table id="table_id" class="display table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Nazwa pełna</th>
                <th>Nazwa skrócona</th>
               
                <th>Akcje</th>
            </tr>
        </thead>
      
        {% for konk in konkurencje %}
            <tr>
                <td><a href="{{ path('konkurencja_show', { 'id': konk.id }) }}">{{ konk.nazwaP }}</a></td>
                <td>{{ konk.nazwaS }}</td>
             
                <td>
                  
                    <a href="{{ path('konkurencja_edit', { 'id': konk.id }) }}">Edytuj</a><br>
                     
                </td>
            </tr>
        {% endfor %}
       
    </table>
</div>
        <script>

       $('#table_id').DataTable({
    "language": {
       "processing":     "Przetwarzanie...",
    "search":         "Szukaj:",
    "lengthMenu":     "Pokaż _MENU_ pozycji",
    "info":           "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
    "infoEmpty":      "Pozycji 0 z 0 dostępnych",
    "infoFiltered":   "(filtrowanie spośród _MAX_ dostępnych pozycji)",
    "infoPostFix":    "",
    "loadingRecords": "Wczytywanie...",
    "zeroRecords":    "Nie znaleziono pasujących pozycji",
    "emptyTable":     "Brak danych",
    "paginate": {
        "first":      "Pierwsza",
        "previous":   "Poprzednia",
        "next":       "Następna",
        "last":       "Ostatnia"
    },
      "oAria": {
        "sSortAscending": ": aktywuj, by posortować kolumnę rosnąco",
        "sSortDescending": ": aktywuj, by posortować kolumnę malejąco",
       
    }
    }
});     
            
        </script>
     <style>
         
         h1{
    font-size: 2.5rem;
    padding-bottom: 30px;
         }
         a{
             color: #622925;
             
         }
         a:hover{
                 text-decoration:none;
         }
                thead{
                    background:silver;
                }
                tbody{
                    
                    background:#f0eded;
                }
                td{
                border-bottom: 0.7px solid white;
                }
           </style>
{% endblock %}
