<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Zawody strzeleckie{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('bundles/css/font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/css/css.css') }}" >
    <script src="{{ asset('bundles/js/js.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/js/sorttable.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/js/sorttable.js') }}" type="text/javascript" /></script>
<link rel="stylesheet" href="{{ asset('bundles/jquery/jquery.min.js') }}" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<div id="menu" > 
    {% if (konkurencjaBase is defined and konkurencjaBase) %} 
        <h1> {{konkurencjaBase}} </h1>{% endif %} 

        <ol>
            <li>Zawodnicy
                <ul>
                    <li>  <a href="{{ path('zawodnik_new') }}">Dodaj </a></li>
                    <li>  <a href="{{ path('zawodnik_index') }}">Wyświetl listę </a></li>

                </ul>
            </li>

            <li>Kluby
                <ul>
                    <li><a href="{{ path('kluby_new') }}">Dodaj</a></li>
                    <li> <a href="{{ path('kluby_index') }}">Wyświetl listę</a></li>
                </ul>
            </li>

            <li>Konkurencje
                <ul>
                    <li><a href="{{ path('konkurencja_new') }}">Dodaj </a></li>
                    <li> <a href="{{ path('konkurencja_index') }}">Wyświetl listę </a></li>
                </ul>
            </li>

            <li>Rezultaty
                <ul>
                    <li> <a href="{{ path('takeOneKonk') }}">Wprowadź</a></li>
                </ul>
            </li>
            <li style="float:right"><i class="fa fa-cog" aria-hidden="true"></i>
                <ul>     
                    <li> <a href="{{ path('auto_view_results') }}">Automatyczna lista </a></li>
                    <li> <a href="{{ path('only_view_results') }}">Wyświetl listę </a></li>
                    <li><a href="{{ path('settings_index') }}">Ustawienia</a></li>
                </ul>

            </li>
        </ol>
    </div>


</head>

{% block body %}

{% endblock %}
{% block javascripts %}{% endblock %}

