{% extends 'base.html.twig' %}

{% block body %} 
    <a href="{{ path('zawodnik_index') }}"><i class="fa fa-long-arrow-left fa-fw  fa-4x"></i> </a>
    <div class="container" onclick="sendNrLic()" >

        <div class="col-md-4" style="float:left"></div>

        <div class="col-md-4" style="float:left; margin-top:40px">
            <i class="fa fa-user-plus fa-5x" style="border-bottom: 2px solid red; margin-bottom: 25px" aria-hidden="true"></i> 
            <center>
 {% form_theme edit_form 'form_table_layout.html.twig' %}
              {% form_theme edit_form 'form_table_layout.html.twig' %}
                {{ form_start(edit_form) }}
             
              
              
              
              
                      </center>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}
 
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
       
           

            
                </div>
            <div class="col-md-4" style="float:left"></div></div>
{% endblock %}
