{% extends 'base.html.twig' %}

{% block body %}
    <div><h1>Zawodnicy</h1><form style="border-bottom: 0.4px solid red; padding-bottom:20px;" id="findUser" enctype="multipart/form-data" action="{{path('zawodnik_findResult')}}" method="post">

            <input style="width:50%; text-align:center" type="text" id="find" name="find" placeholder="Wyszukaj zawodnika"/>

            <button  type="submit"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
                    <a href="{{ path('zawodnik_new') }}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </form></div>     
            
 {% if (ile is defined and ile) %}
       Iość:{{ile}}
      {% endif%}
        <table class="table">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Rok urodzenia</th>
                    <th>Nr licencji</th>
                    <th>Klub</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for zawodnik2 in zawodnik %}
                    <tr>
                        <td>{#<a href="{{ path('zawodnik_show', { 'id': zawodnik2.id }) }}">#}{{ zawodnik2.imie }}{#</a>#}</td>

                        <td>{{ zawodnik2.nazwisko }}</td>
                        <td>{{ zawodnik2.rokU }}</td>
                        <td>{{ zawodnik2.nrLic }}</td>
                        <td>{{ zawodnik2.klub }}</td>
                        <td>
                            <a href="{{ path('zawodnik_edit', { 'id': zawodnik2.id }) }}">Edytuj</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <div>
            <style>

                h1{
                    font-size: 2.5rem;
                    padding-bottom: 30px;
                }
                a{
                    color: #622925e6;

                }
                a:hover{
                    text-decoration:none;
                }
                thead{
                    background:silver;
                }
                tbody{

                    background:#f0eded;
                }
                td{
                    border-bottom: 0.7px solid white;
                }
            </style>
        {% endblock %}
