<head>
    <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('bundles/css/font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/css/css.css') }}" >
    <script src="{{ asset('bundles/js/js.js') }}" type="text/javascript" /></script>
<link rel="stylesheet" href="{{ asset('bundles/jquery/jquery.min.js') }}" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body onLoad="autoLoaderCompetition()">
    <div id="container">

        <div id="wykaz"> {% if (konkurencja is defined and konkurencja) %}   
            <div style="float:right" >

                {% if ((actualResult>=0) and ilosc>0)  %}  
                    Rezultat: {{actualResult+1}} -  {{ (rezultaty|length)+actualResult}} / <strong>startów {{ilosc}}</strong>
                {%else %}
                    Rezultat: 0 -  {{ (rezultaty|length)+actualResult}} / <strong>startów {{ilosc}}</strong>
              {%endif%}
              
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
              
            <h1 style="margin-bottom:5px;"> {{ actualCompetition }} </h1>   
            <strong style="font-size:20px;"><br>Nieoficjane zestawienie rezultatów </strong>
            {% endif %}
                <div class="table-responsive">
                    <table class="table table-striped" id='tabliczka'>
                        <thead>
                            <tr>
                                <th style="width:3%">Nr</th>
                                <th style="width:10%">Imię</th>
                                <th style="width:10%">Nazwisko</th>
                                <th style="width:7%">Nr licencji</th>
                                <th style="width:10%">Klub</th>
                                <th style="border-left:0.5px solid #71251f" id="s1result" >Seria I <br>Rezultat</th>
                                <th id="rifle" >Karabin </th>  <th id="x1" style="border-right:2px solid #71251f">X </th>
                                <th id="s2result" >Seria II <br> Rezultat</th>
                                <th id="gun" >Pistolet </th><th id="x2" style="border-right:2px solid #71251f">X</th>
                                <th id="time">Czas</th>    
                                <th id="factor">Factor</th>
                                <th id="resultsSum">Suma rez</th>     
                                <th id="xSum">Suma X</th>
                                <th id="comments">Uwagi</th>
                            </tr>  
                        </thead>
                            {% for rez in rezultaty %}
                            <tr>
                                {% if (actualResult>=5) %}
                                    <td> {{ loop.index+actualResult }}</td> 
                                {% else %}
                                    <td>{{  loop.index + rez|length-1 }}</td>
                                {% endif%}
                                <td id="tdname"><a href="{{ path('rezultaty_show', { 'id': rez.id }) }}">{{ rez.imie }}</a></td>
                                <td id="tdsurname">{{ rez.nazwisko }}</td>
                                <td id="tdlicNumber">{{ rez.nrLic }}</td>
                                <td id="tdclub" style="border-right:0.5px solid #71251f;">{{ rez.klub }}</td>
                                <td id="tds1result" style="border-right:0.5px solid #71251f">{{ rez.rezultatS1 }}</td>
                                <td id="tdrife" style="border-right:0.5px solid #71251f">{{ rez.karabin }}</td>
                                <td id="tdx1" style="border-right:2px solid #71251f">{{ rez.xS1 }}</td>
                                <td id="tds2result" style="border-right:0.5px solid #71251f">{{ rez.rezultatS2 }}</td>
                                <td id="tdgun" style="border-right:0.5px solid #71251f">{{ rez.pistolet }}</td> 
                                <td id="tdx2" style="border-right:2px solid #71251f">{{ rez.xS2 }}</td>
                                <td id="tdtime">{{ rez.czas }}</td>
                                <td id="tdfactor">{{ rez.factor2 }}</td>
                                <td id="tdresultsSum" style="background:#c3a5a5">{{ rez.sumaRez }}</td>
                                <td id="tdxSum" style="background:#bcbfb6">{{ rez.sumaX }}</td>
                                <td id="tdcomments"> {{ rez.uwagiS1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="footer"> 
                        <strong style="color:#AA3333;text-shadow: 1px 1px whitesmoke;" >Nieoficjalna lista startów z dnia: {{ "now"|date("Y-m-d H:i") }}</strong>
                    </div>
                </div>
                <input type="hidden" value="data21" id="data1" name="data1"/>
                <input type="hidden" value="competitionId" id="competitionId" name="competitionId"/>
            </div>
        </div>
    </body>
    <style>
        strong{
            font-size:15px;
            color:#AA3333;
        }
        span{
            font-size:25px;

        }    h1{
            font-size: 2.5rem;
            padding-bottom: 30px;
        }
        a{
            color: #622925;

        }
        a:hover{
            text-decoration:none;
        }
        thead{
            background:silver;
        }
        table{
            font-size:middle;
        }
        tbody{

            background:#f0eded;
        }
        td{
            border-bottom: 0.7px solid white;
        }

        #footer{ 
            width: 100%;
            height: 40px;
            position: fixed;
            padding:10px;
            background:whitesmoke;
            text-align: center;
            bottom: 0;
        }
    </style>
    <script>

        {# function tdNr() {

             var tables = document.getElementsByTagName('tbody');
             var table = tables[tables.length - 1];
            var rows = table.rows;
             for (var i = 0, td; i < rows.length; i++) {
                td = document.createElement('td');

                 td.appendChild(document.createTextNode(i + 1));

                 rows[i].insertBefore(td, rows[i].firstChild);
             }
     #}

         function autoLoaderCompetition() {
             var timeSec = 1000;

             $.post('{{path('auto_view_results')}}',
                     {data1:{{actualResult+5}}, competitionId:{{competitionId}}},
                     function (json) {

                         $('#wykaz').empty()
                         setTimeout("autoLoaderCompetition()", timeSec);
        {#   $("td").remove("#tdnr")      
           $("th").remove("#nr") #}  
                         $("<span>" + json + "</span>")
                                 .appendTo('#wykaz')
                                 .append("<hr>")
                     }
             );
         }





    </script>
