{% extends 'base.html.twig' %}

{% block body %}

    <div onclick="sendNrLic()" id="container">
        <div class="col-md-2" style="float:left"></div>
        <div class="col-md-8" style="float:left">

            {% if (konkurencja is defined and konkurencja) %} 
                <h1> {{konkurencja.nazwaP}} </h1>{% endif %} 
                {% if (konkurencja is defined and konkurencja) %} 
                    <input type="hidden" id="konkurencjaNazwaP" name="konkurencjaNazwaP" value="{{konkurencja.nazwaP}}"/> 
                    <input type="hidden" id="konkurencjaNazwaS" name="konkurencjaNazwaS" value="{{konkurencja.nazwaS}}"/> 
                    <input type="hidden" id="konkurencjaId" name="konkurencjaId" value="{{konkurencja.id}}"/> 
                {% endif %} 

                <div name="resByIdDiv" id="resByIdDiv" style="margin-top: -15px; border-bottom: 0.4px solid red;">

                    {# <input type="text" id="konkId" name="konkId" value="{{konkurencja.id}}"/>#}
                    <br/>                         

                    {# <form style="border-bottom: 0.4px solid red; padding-bottom:20px;" id="findUser" enctype="multipart/form-data" action="{{path('findUser')}}" method="post">
 
                         <input style="width:50%; text-align:center" type="text" id="find" name="find" placeholder="Wyszukaj osobę">
                         <button  type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                         </button>
                     </form> <a href="{{ path('rezultaty_index') }}">Wyświetl listę rezultatów</a>#}
                    {% if (luckyImie is defined and luckyImie) %}<br>

                        <p style="font-size: 25 px;">{{luckyImie}}    {{luckyNazwisko}}    {{luckyRokU}}     nrLic:{{luckyNrLic}}  <br></p>
                        <p style="font-size: 16px;"> <strong>Klub: </strong>{{luckyKlub}}</p>

                        <input type="hidden" id="imieD" name="imieD" value="{{luckyImie}}"/>
                        <input type="hidden" id="nazwiskoD" name="nazwiskoD" value="{{luckyNazwisko}}"/>
                        <input type="hidden" id="nrLicD" name="nrLicD" value="{{luckyNrLic}}"/>
                        <input type="hidden" id="rokUD" name="rokUD" value="{{luckyRokU}}"/>
                        <input type="hidden" id="klubD" name="klubD" value="{{luckyKlub}}"/>

                    {% endif%}

                </div>

                {% if (form is defined and form) %}



                    {% form_theme form 'form_table_layout.html.twig' %}

                    {{ form_start(form) }}

                    <table  style="text-align:center;" class="table"><th>Karabin</th><th>Pistolet</th><th>Czas</th><th>Uwagi</th> 
                        <tr>
                            <td onchange="sumaKP(), factorKP()">{{ form_widget(form.karabin) }}</td>
                            <td onchange="sumaKP(), factorKP()" onchange="factorKP()"> {{ form_widget(form.pistolet) }}</td>
                            <td onchange="factorKP()">{{ form_widget(form.czas) }}</td> 
                            <td>{{ form_widget(form.uwagiS1) }}</td>
                        </tr>


                        <tr>
                            <th style="background-color:#e9e4d64d"></th><th style="background-color: silver">Suma </th> <th style="background-color: silver">Factor</th><th style="background-color:#e9e4d64d"></th> 
                        <tr>
                            <td></td> 
                            <td onchange="sumaKP(), factorKP()">{{ form_widget(form.sumaRez) }}</td>
                            <td > {{ form_widget(form.factor2) }}</td>
                            <td></td>
                        </tr>

                    </table>

                    <input class="submitRed" type="submit" style="float:right" value="Zapisz" /> 
                    <a style="float:right" href="{{ path('takeOneKonk') }}"><input type="submit" value="Anuluj"></a>
                    <div style="visibility:hidden">
                        {{ form_widget(form.uwagiS2) }} 
                        {{ form_widget(form.rezultatS2) }}    
                        {{ form_widget(form.xS2) }}   
                        {{ form_widget(form.xS1) }}
                        {{ form_widget(form.sumaX) }} 
                        {{ form_widget(form.rezultatS1) }}
                    </div>

                    {{ form_end(form) }}

                </div>   

            </div>
            <div class="col-md-2" style="float:left"></div>
        {% endif%}

        <style>

            table, th, td, tr{ 
                text-align:center;}
            th{
                background-color: silver;
            }

        </style>

        {% endblock %}
