<head>
      <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('bundles/css/font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/css/css.css') }}" >
    <script src="{{ asset('bundles/js/js.js') }}" type="text/javascript" /></script>
    <link rel="stylesheet" href="{{ asset('bundles/jquery/jquery.min.js') }}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
{% block body %}
    <div>{% if (konkurencja is defined and konkurencja) %} 
       <h1> {{konkurencja}}</h1>{% endif %}

        
    </div>
    <div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Rok urodzenia</th>
                    <th>Nr licencji</th>
                   <th>Klub</th>
           <th th style="border-left:2px solid white">Seria I <br>Rezultat</th>
                <th style="border-right:2px solid white">X </th>
                <th>Seria II <br> Rezultat</th>
                    <th style="border-right:2px solid white">X</th>
                    <th>Czas</th>
                    <th>Factor2</th>
                    <th>Konkurencja</th>
                    <th>Suma rez</th>     
                    <th>Suma X</th>
                </tr>
            </thead>
            <tbody>
                {% for rez in rezultaty %}
                    <tr>
                        <td><a href="{{ path('rezultaty_show', { 'id': rez.id }) }}">{{ rez.imie }}</a></td>
                        <td>{{ rez.nazwisko }}</td>
                        <td>{{ rez.rokU }}</td>
                        <td>{{ rez.nrLic }}</td>
                       <td style="border-right:2px solid white">{{ rez.klub }}</td>
                     <td style="border-right:1px solid white">{{ rez.rezultatS1 }}</td>
                    <td style="border-right:2px solid white">{{ rez.xS1 }}</td>
                    <td style="border-right:1px solid white">{{ rez.rezultatS2 }}</td>
                    <td style="border-right:2px solid white">{{ rez.xS2 }}</td>
                        <td>{{ rez.czas }}</td>
                        <td>{{ rez.factor2 }}</td>
                        <td>{{ rez.nazwaP }}</td>
                        <td>{{ rez.sumaRez }}</td>
                        <td>{{ rez.sumaX }}</td>
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>

        h1{
            font-size: 2.5rem;
            padding-bottom: 30px;
        }
        a{
            color: #622925e6;

        }
        a:hover{
            text-decoration:none;
        }
        thead{
            background:silver;
        }
        tbody{

            background:#f0eded;
        }
        td{
            border-bottom: 0.7px solid white;
        }
    </style>
{% endblock %}
