{% extends 'base.html.twig' %}

{% block body %}
    <body onload="takeView()" >
        <div id="raports">
            <input type="hidden" id="whichView" value="{{whichView}}"/>

            <div class="col-md-3" style="float:left"> 
                <strong>Wybierz konkurencję: </strong></div>
            <div class="col-md-5" style="float:left;">
                {#                <form  id="konkPopUp" onclick="wybierzKonk()" enctype="multipart/form-data" action="{{path('takeOneKonk')}}" method="post">#}

                {% if (konkurencje is defined and konkurencje) %}  
                 {#   <select onchange=" autoLoaderOneCompetition();" style="margin-bottom:20px;width:80%; text-align:center" id="wybierzKonkurencje" >  
                      <option value="0"selected>{% if (konkId is defined and konkId!=1)  %} {{konkId}}  
                        {% endif %} </option>
                        {% for konk in konkurencje %}
                            <option style="text-align:center" value="{{konk.id}}">{{konk['nazwaP']}}</option>
                        {% endfor %} 
                    </select>  
                {% endif %} #}
                  <select konkId="{{konkId}}" onchange=" autoLoaderOneCompetition();" style="margin-bottom:20px;width:80%; text-align:center" id="wybierzKonkurencje" >  
                        {% for konk in konkurencje %}
                            <option {% if (konkId is defined and konk['nazwaP']==konkId)  %} selected {% endif %}
				style="text-align:center" value="{{konk.id}}">{{konk['nazwaP']}}</option>
                        {% endfor %} 
                    </select>  
                {% endif %}

                <input type="hidden" id="konkId" name="konkId"/>


                {# </form>  #}

                <form style="padding-bottom:20px;" id="findUser" enctype="multipart/form-data" action="{{path('rezultaty_findResult')}}" method="post">

                    <input style="width:65%; text-align:center" type="text" id="find" name="find" placeholder="Wyszukaj"/>

                    <button style="margin: 0px 5px 0px;"type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                    </button>  

                    <a style="margin: 0px 0px 0px;" href="{{ path('zawodnik_index') }}"><i class="fa fa-user-o fa-2x" aria-hidden="true" value="Dodaj"><i class="fa fa-crosshairs fa-1x" aria-hidden="true"></i>
                        </i>
                    </a>
                </form> 

            </div>  
            <div class="col-md-3" style="float:right"> 
                {% if (konkId is defined and konkId) %}  
                    <a style="margin-right:10px;" id="link" href="{{ path('rez_konkurencja_excel', {'id': konkId }) }}">
                        <i style="margin-bottom: 10px; color:#412826;"class="fa fa-file-excel-o fa-3x " aria-hidden="true"></i> 
                    </a>
                {% endif %}   
                <br> 
                {% if  (rezultaty|length)>0 %}
                    <span style="padding:5px;border-bottom: 2px solid #71251f;">Startów w konkurencji:
                        {{ rezultaty|length}}</span>
                    {% else %} 
                    <span style="color:#c20000;">Brak startów!</span>
                {% endif %} 
            </div>
            <div style="clear:both"></div>


            {#<h1>Top Ten Members</h1>
            <ul>{% for rez in rezultaty|slice(0, 2) %}
                    <li>{{ rez.imie|e }}</li>
                {% endfor %}
            </ul>#}
            
            <table class="sortable table table-hover table-striped table-condensed">

                <thead>
                    <tr>
                        <th>Nr</th>
                        <th id="name">Imię</th>
                        <th id="surname">Nazwisko</th>
                        <th id="byear">Rok urodzenia</th>
                        <th id="licNumber">Nr licencji</th>
                        <th id="club">Klub</th>

                        <th style="border-left:0.5px solid #71251f" id="s1result" >Seria I <br>Rezultat</th>
                        <th id="rifle" >Karabin </th>  <th id="x1" style="border-right:2px solid #71251f">X </th>

                        <th id="s2result" >Seria II <br> Rezultat</th>
                        <th id="gun" >Pistolet </th><th id="x2" style="border-right:2px solid #71251f">X</th>


                        <th id="time">Czas</th>    
                        <th id="factor">Factor</th>
                        <th id="resultsSum">Suma rez</th>     
                        <th id="xSum">Suma X</th>

                        {#                            <th id="comments">Uwagi</th>#}
                        <th></th>
                    </tr>  </thead>
                    {% for rez in rezultaty %}
                    <tr>
                        <td> {{ loop.index }}</td>
                        <td id="tdname"><a href="{{ path('rezultaty_show', { 'id': rez.id }) }}">{{ rez.imie }}</a></td>
                        <td id="tdsurname">{{ rez.nazwisko }}</td>
                        <td id="tdbyear">{{ rez.rokU }}</td>
                        <td id="tdlicNumber">{{ rez.nrLic }}</td>
                        <td id="tdclub" style="border-right:0.5px solid #71251f;">{{ rez.klub }}</td>

                        <td id="tds1result" style="border-right:0.5px solid #71251f">{{ rez.rezultatS1 }}</td>
                        <td id="tdrife" style="border-right:0.5px solid #71251f">{{ rez.karabin }}</td><td id="tdx1" style="border-right:2px solid #71251f">{{ rez.xS1 }}</td>

                        <td id="tds2result" style="border-right:0.5px solid #71251f">{{ rez.rezultatS2 }}</td>
                        <td id="tdgun" style="border-right:0.5px solid #71251f">{{ rez.pistolet }}</td> <td id="tdx2" style="border-right:2px solid #71251f">{{ rez.xS2 }}</td>


                        <td id="tdtime">{{ rez.czas }}</td>
                        <td id="tdfactor">{{ rez.factor2 }}</td>
                        <td id="tdresultsSum" style="background:#c3a5a5">{{ rez.sumaRez }}</td>
                        <td id="tdxSum" style="background:#bcbfb6">{{ rez.sumaX }}</td>

                        {#                            <td id="tdcomments"> {{ rez.uwagiS1 }}</td>#}
                        <td style="text-align:center;background:#e9e4d64d; border-left:2px solid #8787c2;">


                            <a href="{{ path('rezultaty_edit', { 'id': rez.id }) }}"><i style="color:#622925e6" class="fa fa-pencil fa-fw fa-2x"></i></a>
{# <a href="{{ url('rezultaty_delete', { 'id': rez.id }) }}">gsdf</a>#}

                            
                            {%  if(konkId is defined and konkId!=1) %}
                                <form name="form" method="post" action="/crud/rezultaty/{{rez.id}}/delete"><input type="hidden" name="_method" value="DELETE" />
                                    <button type="submit"><i class="fa fa-trash fa-2x" aria-hidden="true"></i> </button>
                                    <input type="hidden" id="form__token" name="form[_token]" value="_YXYDrmIOd6suLfHQNxeaA_g5Hp4qz21ykgN6OAF8GE" />
                                </form>

                            {% endif %}





                        </td>
                    </tr>
                {% endfor %}

            </table>

        </div> <div id="footer"> 
            <strong style="color:#AA3333;text-shadow: 1px 1px whitesmoke;" >Nieoficjalna lista startów z dnia: {{ "now"|date("Y-m-d H:i") }}</strong>
        </div>
        <script>



            function takeView() {
                var takeViewNr = document.getElementById("whichView").value;
                if (takeViewNr == 1) {

                    $("th").remove("#x1,#s2result,#x2,#xSum,#resultsSum,#rifle,#gun");
                    $("td").remove("#tdx1,#tds2result,#tdx2,#tdxSum,#tdresultsSum,#tdrife,#tdgun");
                }
                if (takeViewNr == 2) {

                    $("th").remove("#rifle,#gun,#time,#factor");
                    $("td").remove("#tdrife,#tdgun,#tdtime,#tdfactor");
                }

                if (takeViewNr == 3) {

                    $("th").remove("#s1result,#x1,#s2result,#x2,#xSum");
                    $("td").remove("#tds1result,#tdx1,#tds2result,#tdx2,#tdxSum");
                }

                if (takeViewNr == 4) {

                    $("th").remove("#x1,#s2result,#x2,#xSum,#rifle,#gun,#factor,#resultsSum");
                    $("td").remove("#tdrife,#tdgun,#tdfactor,#tdx1,#tds2result,#tdx2,#tdxSum,#tdresultsSum");
                }
            }

            function tdNr() {

                var tables = document.getElementsByTagName('tbody');
                var table = tables[tables.length - 1];
                var rows = table.rows;
                for (var i = 0, td; i < rows.length; i++) {
                    td = document.createElement('td');
                    td.appendChild(document.createTextNode(i + 1));
                    rows[i].insertBefore(td, rows[i].firstChild);
                }

            }

            function autoLoaderOneCompetition() {
                var t = 0;
                t = $("#wybierzKonkurencje :selected").text();
                if (t == 0) {

                } else {
                    document.getElementById('konkId').value = t;
                    document.getElementById("link").getAttribute("href").value = t;
                }
                $.post('{{path('takeOneKonk')}}',
                        {konkId: t},
                        function (json) {

            {#                    alert('ok');#}
                                $('#menu').remove()
                                $('#raports').empty()
                                $("<span>" + json + "</span>")
                                        .appendTo('#raports')
                                        .append("<hr>")
                            }
                    );
       
                }




        </script>
        <style>
            table.sortable thead {
                color: #622925;
                font-weight: bold;
                cursor: default;
            }
            h1{
                font-size: 2.5rem;
                padding-bottom: 30px;
            }
            a{
                color: #622925;

            }
            a:hover{
                text-decoration:none;
            }
            thead{
                background:silver;
            }
            tbody{

                background:#f0eded;
            }
            td{
                border-bottom: 0.7px solid white;
            }

            #footer{ 
                width: 100%;
                height: 40px;
                position: fixed;
                padding:10px;
                background:whitesmoke;
                text-align: center;
                bottom: 0;
            }
        </style>
    </body>
{% endblock %}
